{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_registration_register') }}">{{ 'Not a Member? Register here'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>

<form action="{{ path("fos_user_security_check") }}" method="post" class="ui form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="field">
        <label for="username">{{ 'username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>

    <div class="field">
        <label for="password">{{ 'Password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" />
    </div>

    <div class="field">
        <input type="checkbox" class="ui checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'Remember me'|trans }}</label>
    </div>

    <input type="submit"
           class="ui button"
           id="_submit"
           name="_submit"
           value="{{ 'Login'|trans }}" />
</form>

{% endblock fos_user_content %}
