<div class="ui container fluid" id="footer">
		<div class="ui stackable three column grid">
			<div class="ui six wide column">
				<div>
					<div class="footer-left">

					<h3>Company<span>logo</span></h3>

					<div class="ui horizontal bulleted list">
					  <a class="item">
					    Home
					  </a>
					  <a class="item">
					    Be a Seller
					  </a>
					  <a class="item">
					    Contact Us
					  </a>
					</div>

					<p class="footer-company-name">Shopping Yug &copy; 2017</p>
				</div>
				</div>	
			</div>
			<div class="ui five wide column">
				<div class="footer-center">

					<div class="ui list">
					  <div class="item">
					    <i class="users icon"></i>
					    <div class="content">
					      Shopping Yug
					    </div>
					  </div>
					  <div class="item">
					    <i class="marker icon"></i>
					    <div class="content">
					      Airoli, Navi Mumbai
					    </div>
					  </div>
					  <div class="item">
					    <i class="mail icon"></i>
					    <div class="content">
					      <a href="mailto:jack@semantic-ui.com">contact@shoppingyug.com</a>
					    </div>
					  </div>
					  <div class="item">
					    <i class="linkify icon"></i>
					    <div class="content">
					      <a href="#">shoppingyug.com</a>
							</div>
							<div>
								<!-- <input type="checkbox" onChange="valuechange()"> -->
							</div>
					  </div>
					</div>
				</div>
				
			</div>
			<div class="ui five wide column">
				<div class="footer-right">

					<h3>About the company</h3><br>
					<p>
					We are young company in making to help entreprenuers to list there manufactured product on our site for free.
					</p>
				
				<div class="footer-icons">
					<button class="ui facebook button">
					  <i class="fa fa-facebook fa-lg"></i>
					</button>  
					
					<button class="ui twitter button">
					  <i class="fa fa-twitter fa-lg"></i>
					</button>  
														
					<button class="ui instagram button">
					  <i class="fa fa-instagram fa-lg"></i>
					</button>  
				</div>
			</div>
						
			</div>
		</div>	
	</div>	

	<script src="{{asset('bundles/customerBundle/js/jquery.js')}}"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script> -->
  <script src="{{asset('bundles/customerBundle/js/semantic.min.js')}}"></script>
	<script src="{{asset('bundles/customerBundle/js/main.js')}}"></script>
  <script src="{{asset('bundles/customerBundle/js/login.js')}}"></script>
  <script src="{{asset('bundles/customerBundle/js/filter.js')}}"></script>
  <script src="{{asset('bundles/customerBundle/js/cart.js')}}"></script>
    


